snippet cfset "cfset tag" b
<cfset ${1:var} = ${2:value} />
endsnippet

snippet cfdump "cfdump tag" b
<cfdump var = "${1:var} />
endsnippet

snippet cfoutput "cfoutput tag" b
<cfoutput>
	${1:${VISUAL:}}
</cfoutput>
endsnippet

snippet cfif "cfif tag" b
<cfif ${1:condition}>
	${2:${VISUAL:}}
</cfif>
endsnippet

snippet cfloop "cfif tag" b
<cfif ${1:conditions}>
	${2:${VISUAL:}}
</cfif>
endsnippet
