snippet cfl "cfloop tag" b
<cfloop from="${1:1}" to="$2" index="${3:i}">
	${0:${VISUAL}}
</cfloop>
endsnippet

snippet cfif "cfif tag" b
<cfif $1>
	${0:${VISUAL}}
</cfif>
endsnippet

snippet "cfo?u?t?p?u?t?" "cfoutput tag" rb
<cfoutput>
	${0:${VISUAL}}
</cfoutput>
endsnippet

snippet cfd "cfdump tag"
<cfdump var="#$0#" />
endsnippet

snippet cfs "cfset tag"
<cfset $0 />
endsnippet
